<style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
            background-color:white;
        }
    
    
    input[type=text]{
        width:100%;
        border:2px solid #aaa;
        border-radius:4px;
        margin:8px 0;
        outline:none;
        padding:8px;
        box-sizing:border-box;
        transition:.3s;
        
      }
      
      input[type=text]:focus{
        border-color:dodgerBlue;
        box-shadow:0 0 8px 0 dodgerBlue;
      }
      
      .inputWithIcon input[type=text]{
        padding-left:10px;
      }
      
      .inputWithIcon{
        position:relative;
      }
      
      .inputWithIcon i{
        position:absolute;
        padding-left:60px;
        right:10px;
        top:36px;
        padding:8.5px 8px;
        color:#aaa;
        transition:.3s;
      }
      
      .inputWithIcon input[type=text]:focus + i{
        color:dodgerBlue;
      }
      
      .inputWithIcon.inputIconBg i{
        background-color:#aaa;
        color:#fff;
        padding:9px 4px;
        border-radius:4px 0 0 4px;
      }
      
      .inputWithIcon.inputIconBg input[type=text]:focus + i{
        color:#fff;
        background-color:dodgerBlue;
      }

      .alert{
  display:none;
}
    
       #predictGroup{
    
    max-height: 600px;
    max-width: 400px;
    position: absolute;
    top: 420px;
    left: 40px;
    
    
    }   
    </style>
    
    <div ng-app = "Grade" ng-controller = "ChangePasswordCtrl" style = "text-align:center">
            <div class="container">
                    <div class="row">
                        <div id = "message" class="alert alert-success"   >
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>{{message}}.</strong> 
                          </div>
                    <div class="col-sm-12">
                    <h1>Change Password</h1>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                    <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
                                      
                    <input type="text" class="input-lg form-control" name="password" id="password" placeholder="NUID" autocomplete="off" ng-model="nuid">
                    <div class="row"></div>

                    <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off" ng-model="password">
                    <div class="row"></div>
                    <!-- <div class="row">
                    <div class="col-sm-6">
                    <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                    <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                    </div>
                    <div class="col-sm-6">
                    <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                    <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                    </div>
                    </div> -->
                    <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
                    <div class="row">
                    <div class="col-sm-12">
                    <!-- <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match -->
                    </div>
                    </div>
                    <input class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password" ng-click="reset()">
                    <div class="row"></div>
                    <!-- <a class="btn btn-primary btn-lg" href="http://localhost:3001" >Back To Homepage</a>  -->
                    </div><!--/col-sm-6-->
                    </div><!--/row-->
                    </div>


           
           
    
    
    </div>
    
    