<style>
		table, th, td {
				border: 1px solid grey;
				border-collapse: collapse;
				padding: 5px;
				background-color:white;
		}


input[type=text]{
		width:100%;
		border:2px solid #aaa;
		border-radius:4px;
		margin:8px 0;
		outline:none;
		padding:8px;
		box-sizing:border-box;
		transition:.3s;
		
	}
	
	input[type=text]:focus{
		border-color:dodgerBlue;
		box-shadow:0 0 8px 0 dodgerBlue;
	}
	
	.inputWithIcon input[type=text]{
		padding-left:10px;
	}
	
	.inputWithIcon{
		position:relative;
	}
	
	.inputWithIcon i{
		position:absolute;
		padding-left:60px;
		right:10px;
		top:36px;
		padding:8.5px 8px;
		color:#aaa;
		transition:.3s;
	}
	
	.inputWithIcon input[type=text]:focus + i{
		color:dodgerBlue;
	}
	
	.inputWithIcon.inputIconBg i{
		background-color:#aaa;
		color:#fff;
		padding:9px 4px;
		border-radius:4px 0 0 4px;
	}
	
	.inputWithIcon.inputIconBg input[type=text]:focus + i{
		color:#fff;
		background-color:dodgerBlue;
	}

	 #predictGroup{

max-height: 600px;
max-width: 400px;
position: absolute;
top: 420px;
left: 40px;


}   

   .alert{
  display:none;
}
</style>

<div ng-app = "Grade" ng-controller = "ForgotCtrl" style = "text-align:center">


<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
										<div id = "message" class="alert alert-success"   >
												<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
												<strong>{{message}}.</strong> 
											</div>
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email" ng-model = "email">
                        </div>
                      </div> 
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password"  ng-click="sendEmail()">
											</div>
											
										


                      <!-- <div style = "width:30%;float:right;padding-right:5px"><button ng-click = "sendEmail()">Login</button></div> -->
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    
    
									</div>
									
                </div>
              </div>
            </div>
          </div>
	</div>
</div>


</div>

